@keyframes aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 2;
  }
  50% {
    opacity: 4;
  }
  75% {
    opacity: 5;
  }
  100% {
    opacity: 6;
  }
}
.body-index, .body-enlacesdeInteres, .body-educTecnica, .acercaDe-Body, .body-educacionI, .body-contacto, .body-marketing, .body-operaciones, .body-informatica, .body-educacionII {
  background: blanchedalmond;
}
.body-index .navbar, .body-enlacesdeInteres .navbar, .body-educTecnica .navbar, .acercaDe-Body .navbar, .body-educacionI .navbar, .body-contacto .navbar, .body-marketing .navbar, .body-operaciones .navbar, .body-informatica .navbar, .body-educacionII .navbar {
  margin: 20px 20px 20px 20px;
  justify-content: center;
  text-align: center;
  background-color: blue;
  text-decoration: none;
  overflow: hidden;
}
.body-index .navbar-ul-li, .body-enlacesdeInteres .navbar-ul-li, .body-educTecnica .navbar-ul-li, .acercaDe-Body .navbar-ul-li, .body-educacionI .navbar-ul-li, .body-contacto .navbar-ul-li, .body-marketing .navbar-ul-li, .body-operaciones .navbar-ul-li, .body-informatica .navbar-ul-li, .body-educacionII .navbar-ul-li {
  float: left;
  text-decoration: none;
}
.body-index .nav-imagen, .body-enlacesdeInteres .nav-imagen, .body-educTecnica .nav-imagen, .acercaDe-Body .nav-imagen, .body-educacionI .nav-imagen, .body-contacto .nav-imagen, .body-marketing .nav-imagen, .body-operaciones .nav-imagen, .body-informatica .nav-imagen, .body-educacionII .nav-imagen {
  width: 80px;
  height: 60px;
  margin-left: 35px;
  text-decoration: none;
  animation-name: aparecer;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
.body-index .search-button, .body-enlacesdeInteres .search-button, .body-educTecnica .search-button, .acercaDe-Body .search-button, .body-educacionI .search-button, .body-contacto .search-button, .body-marketing .search-button, .body-operaciones .search-button, .body-informatica .search-button, .body-educacionII .search-button {
  margin-right: 35px;
}
.body-index .nav-enlaces, .body-enlacesdeInteres .nav-enlaces, .body-educTecnica .nav-enlaces, .acercaDe-Body .nav-enlaces, .body-educacionI .nav-enlaces, .body-contacto .nav-enlaces, .body-marketing .nav-enlaces, .body-operaciones .nav-enlaces, .body-informatica .nav-enlaces, .body-educacionII .nav-enlaces {
  display: inline-flex;
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
.body-index .nav-enlaces:hover, .body-enlacesdeInteres .nav-enlaces:hover, .body-educTecnica .nav-enlaces:hover, .acercaDe-Body .nav-enlaces:hover, .body-educacionI .nav-enlaces:hover, .body-contacto .nav-enlaces:hover, .body-marketing .nav-enlaces:hover, .body-operaciones .nav-enlaces:hover, .body-informatica .nav-enlaces:hover, .body-educacionII .nav-enlaces:hover {
  background-color: grey;
  text-decoration: none;
  color: blue;
  font-family: "Roboto";
  font-weight: bold;
}
.body-index .search-container, .body-enlacesdeInteres .search-container, .body-educTecnica .search-container, .acercaDe-Body .search-container, .body-educacionI .search-container, .body-contacto .search-container, .body-marketing .search-container, .body-operaciones .search-container, .body-informatica .search-container, .body-educacionII .search-container {
  float: right;
  text-decoration: none;
}
.body-index .titulo, .body-enlacesdeInteres .titulo, .body-educTecnica .titulo, .acercaDe-Body .titulo, .body-educacionI .titulo, .body-contacto .titulo, .body-marketing .titulo, .body-operaciones .titulo, .body-informatica .titulo, .body-educacionII .titulo {
  margin-top: 80px;
  color: blue;
  font-family: "Times New Roman";
  font-size: 80px;
  text-decoration: underline;
  text-decoration-style: bold;
  text-align: center;
  transition: infinite;
  transition: all 0.7s;
}
.body-index .titulo:hover, .body-enlacesdeInteres .titulo:hover, .body-educTecnica .titulo:hover, .acercaDe-Body .titulo:hover, .body-educacionI .titulo:hover, .body-contacto .titulo:hover, .body-marketing .titulo:hover, .body-operaciones .titulo:hover, .body-informatica .titulo:hover, .body-educacionII .titulo:hover {
  font-family: "Pacifico";
  color: red;
  font-size: 100px;
}
.body-index .texto, .body-enlacesdeInteres .texto, .body-educTecnica .texto, .acercaDe-Body .texto, .body-educacionI .texto, .body-contacto .texto, .body-marketing .texto, .body-operaciones .texto, .body-informatica .texto, .body-educacionII .texto {
  padding: 25px 25px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Times New Roman";
  text-align: justify;
}
.body-index .titulo2, .body-enlacesdeInteres .titulo2, .body-educTecnica .titulo2, .acercaDe-Body .titulo2, .body-educacionI .titulo2, .body-contacto .titulo2, .body-marketing .titulo2, .body-operaciones .titulo2, .body-informatica .titulo2, .body-educacionII .titulo2 {
  font-size: 80px;
  margin-top: 150px;
  font-family: "Times New Roman";
  text-align: center;
  text-decoration: underline;
  color: blue;
}
.body-index .titulo2:hover, .body-enlacesdeInteres .titulo2:hover, .body-educTecnica .titulo2:hover, .acercaDe-Body .titulo2:hover, .body-educacionI .titulo2:hover, .body-contacto .titulo2:hover, .body-marketing .titulo2:hover, .body-operaciones .titulo2:hover, .body-informatica .titulo2:hover, .body-educacionII .titulo2:hover {
  color: red;
  font-family: "Pacifico";
}
.body-index .contenedor1, .body-enlacesdeInteres .contenedor1, .body-educTecnica .contenedor1, .acercaDe-Body .contenedor1, .body-educacionI .contenedor1, .body-contacto .contenedor1, .body-marketing .contenedor1, .body-operaciones .contenedor1, .body-informatica .contenedor1, .body-educacionII .contenedor1 {
  display: block;
  justify-content: center;
  padding: 60px 60px;
  justify-content: center;
  text-align: center;
}
.body-index .pages, .body-enlacesdeInteres .pages, .body-educTecnica .pages, .acercaDe-Body .pages, .body-educacionI .pages, .body-contacto .pages, .body-marketing .pages, .body-operaciones .pages, .body-informatica .pages, .body-educacionII .pages {
  width: 250px;
  height: 150px;
  justify-content: center;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-index .datosCreacion, .body-enlacesdeInteres .datosCreacion, .body-educTecnica .datosCreacion, .acercaDe-Body .datosCreacion, .body-educacionI .datosCreacion, .body-contacto .datosCreacion, .body-marketing .datosCreacion, .body-operaciones .datosCreacion, .body-informatica .datosCreacion, .body-educacionII .datosCreacion {
  margin-top: 20px;
  font-size: 25px;
  font-family: "Arial";
  text-align: center;
  text-decoration: none;
}
.body-index .logoFinal, .body-enlacesdeInteres .logoFinal, .body-educTecnica .logoFinal, .acercaDe-Body .logoFinal, .body-educacionI .logoFinal, .body-contacto .logoFinal, .body-marketing .logoFinal, .body-operaciones .logoFinal, .body-informatica .logoFinal, .body-educacionII .logoFinal {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}
.body-index .contenedor2, .body-enlacesdeInteres .contenedor2, .body-educTecnica .contenedor2, .acercaDe-Body .contenedor2, .body-educacionI .contenedor2, .body-contacto .contenedor2, .body-marketing .contenedor2, .body-operaciones .contenedor2, .body-informatica .contenedor2, .body-educacionII .contenedor2 {
  display: block;
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .body-index .body-index, .body-enlacesdeInteres .body-index, .body-index .body-enlacesdeInteres, .body-enlacesdeInteres .body-enlacesdeInteres, .body-educTecnica .body-index, .body-educTecnica .body-enlacesdeInteres, .body-index .body-educTecnica, .body-enlacesdeInteres .body-educTecnica, .body-educTecnica .body-educTecnica, .acercaDe-Body .body-index, .acercaDe-Body .body-enlacesdeInteres, .acercaDe-Body .body-educTecnica, .body-educacionI .body-index, .body-enlacesdeInteres .body-index, .body-educacionI .body-enlacesdeInteres, .body-enlacesdeInteres .body-enlacesdeInteres, .body-educacionI .body-educTecnica, .body-enlacesdeInteres .body-educTecnica, .body-contacto .body-index, .body-contacto .body-enlacesdeInteres, .body-contacto .body-educTecnica, .body-marketing .body-index, .body-marketing .body-enlacesdeInteres, .body-marketing .body-educTecnica, .body-operaciones .body-index, .body-operaciones .body-enlacesdeInteres, .body-operaciones .body-educTecnica, .body-informatica .body-index, .body-informatica .body-enlacesdeInteres, .body-informatica .body-educTecnica, .body-educacionII .body-index, .body-educacionII .body-enlacesdeInteres, .body-educacionII .body-educTecnica, .body-index .acercaDe-Body, .body-enlacesdeInteres .acercaDe-Body, .body-educTecnica .acercaDe-Body, .body-index .body-educacionI, .body-index .body-enlacesdeInteres, .body-enlacesdeInteres .body-educacionI, .body-enlacesdeInteres .body-enlacesdeInteres, .body-educTecnica .body-educacionI, .body-educTecnica .body-enlacesdeInteres, .body-index .body-contacto, .body-enlacesdeInteres .body-contacto, .body-educTecnica .body-contacto, .body-index .body-marketing, .body-enlacesdeInteres .body-marketing, .body-educTecnica .body-marketing, .body-index .body-operaciones, .body-enlacesdeInteres .body-operaciones, .body-educTecnica .body-operaciones, .body-index .body-informatica, .body-enlacesdeInteres .body-informatica, .body-educTecnica .body-informatica, .body-index .body-educacionII, .body-enlacesdeInteres .body-educacionII, .body-educTecnica .body-educacionII, .acercaDe-Body .acercaDe-Body, .body-educacionI .acercaDe-Body, .body-enlacesdeInteres .acercaDe-Body, .body-contacto .acercaDe-Body, .body-marketing .acercaDe-Body, .body-operaciones .acercaDe-Body, .body-informatica .acercaDe-Body, .body-educacionII .acercaDe-Body, .acercaDe-Body .body-educacionI, .acercaDe-Body .body-enlacesdeInteres, .acercaDe-Body .body-contacto, .acercaDe-Body .body-marketing, .acercaDe-Body .body-operaciones, .acercaDe-Body .body-informatica, .acercaDe-Body .body-educacionII, .body-educacionI .body-educacionI, .body-enlacesdeInteres .body-educacionI, .body-educacionI .body-enlacesdeInteres, .body-enlacesdeInteres .body-enlacesdeInteres, .body-contacto .body-educacionI, .body-contacto .body-enlacesdeInteres, .body-educacionI .body-contacto, .body-enlacesdeInteres .body-contacto, .body-contacto .body-contacto, .body-marketing .body-educacionI, .body-marketing .body-enlacesdeInteres, .body-marketing .body-contacto, .body-educacionI .body-marketing, .body-enlacesdeInteres .body-marketing, .body-contacto .body-marketing, .body-marketing .body-marketing, .body-operaciones .body-educacionI, .body-operaciones .body-enlacesdeInteres, .body-operaciones .body-contacto, .body-operaciones .body-marketing, .body-educacionI .body-operaciones, .body-enlacesdeInteres .body-operaciones, .body-contacto .body-operaciones, .body-marketing .body-operaciones, .body-operaciones .body-operaciones, .body-informatica .body-educacionI, .body-informatica .body-enlacesdeInteres, .body-informatica .body-contacto, .body-informatica .body-marketing, .body-informatica .body-operaciones, .body-educacionI .body-informatica, .body-enlacesdeInteres .body-informatica, .body-contacto .body-informatica, .body-marketing .body-informatica, .body-operaciones .body-informatica, .body-informatica .body-informatica, .body-educacionII .body-educacionI, .body-educacionII .body-enlacesdeInteres, .body-educacionII .body-contacto, .body-educacionII .body-marketing, .body-educacionII .body-operaciones, .body-educacionII .body-informatica, .body-educacionI .body-educacionII, .body-enlacesdeInteres .body-educacionII, .body-contacto .body-educacionII, .body-marketing .body-educacionII, .body-operaciones .body-educacionII, .body-informatica .body-educacionII, .body-educacionII .body-educacionII {
    background: red;
  }
  .body-index .titulo, .body-enlacesdeInteres .titulo, .body-educTecnica .titulo, .acercaDe-Body .titulo, .body-educacionI .titulo, .body-contacto .titulo, .body-marketing .titulo, .body-operaciones .titulo, .body-informatica .titulo, .body-educacionII .titulo {
    margin-top: 40px;
    color: red;
    font-family: "Roboto";
    font-size: 5px;
    text-decoration: underline;
    text-decoration-style: bold;
    text-align: center;
    transition: infinite;
    transition: all 0.7s;
  }
  .body-index .navbar, .body-enlacesdeInteres .navbar, .body-educTecnica .navbar, .acercaDe-Body .navbar, .body-educacionI .navbar, .body-contacto .navbar, .body-marketing .navbar, .body-operaciones .navbar, .body-informatica .navbar, .body-educacionII .navbar {
    margin: 5px 5px 5px 5px;
    justify-content: center;
    text-align: center;
    background-color: red;
    text-decoration: none;
    overflow: hidden;
  }
  .body-index .nav-enlaces, .body-enlacesdeInteres .nav-enlaces, .body-educTecnica .nav-enlaces, .acercaDe-Body .nav-enlaces, .body-educacionI .nav-enlaces, .body-contacto .nav-enlaces, .body-marketing .nav-enlaces, .body-operaciones .nav-enlaces, .body-informatica .nav-enlaces, .body-educacionII .nav-enlaces {
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .body-index .nav-enlaces:hover, .body-enlacesdeInteres .nav-enlaces:hover, .body-educTecnica .nav-enlaces:hover, .acercaDe-Body .nav-enlaces:hover, .body-educacionI .nav-enlaces:hover, .body-contacto .nav-enlaces:hover, .body-marketing .nav-enlaces:hover, .body-operaciones .nav-enlaces:hover, .body-informatica .nav-enlaces:hover, .body-educacionII .nav-enlaces:hover {
    background-color: grey;
    text-decoration: none;
    color: blue;
    font-family: "Roboto";
    font-weight: bold;
  }
  .body-index .navbar-ul-li, .body-enlacesdeInteres .navbar-ul-li, .body-educTecnica .navbar-ul-li, .acercaDe-Body .navbar-ul-li, .body-educacionI .navbar-ul-li, .body-contacto .navbar-ul-li, .body-marketing .navbar-ul-li, .body-operaciones .navbar-ul-li, .body-informatica .navbar-ul-li, .body-educacionII .navbar-ul-li {
    float: left;
    text-decoration: none;
  }
  .body-index .nav-imagen, .body-enlacesdeInteres .nav-imagen, .body-educTecnica .nav-imagen, .acercaDe-Body .nav-imagen, .body-educacionI .nav-imagen, .body-contacto .nav-imagen, .body-marketing .nav-imagen, .body-operaciones .nav-imagen, .body-informatica .nav-imagen, .body-educacionII .nav-imagen {
    width: 35px;
    height: 20px;
    margin-left: 5px;
    text-decoration: none;
    animation-name: aparecer;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }
  .body-index .search-button, .body-enlacesdeInteres .search-button, .body-educTecnica .search-button, .acercaDe-Body .search-button, .body-educacionI .search-button, .body-contacto .search-button, .body-marketing .search-button, .body-operaciones .search-button, .body-informatica .search-button, .body-educacionII .search-button {
    margin-right: 5px;
  }
  .body-index .nav-enlaces, .body-enlacesdeInteres .nav-enlaces, .body-educTecnica .nav-enlaces, .acercaDe-Body .nav-enlaces, .body-educacionI .nav-enlaces, .body-contacto .nav-enlaces, .body-marketing .nav-enlaces, .body-operaciones .nav-enlaces, .body-informatica .nav-enlaces, .body-educacionII .nav-enlaces {
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    padding: 5px;
  }
  .body-index .nav-enlaces:hover, .body-enlacesdeInteres .nav-enlaces:hover, .body-educTecnica .nav-enlaces:hover, .acercaDe-Body .nav-enlaces:hover, .body-educacionI .nav-enlaces:hover, .body-contacto .nav-enlaces:hover, .body-marketing .nav-enlaces:hover, .body-operaciones .nav-enlaces:hover, .body-informatica .nav-enlaces:hover, .body-educacionII .nav-enlaces:hover {
    background-color: white;
    text-decoration: none;
    color: blue;
    font-family: "Roboto";
    font-weight: bold;
  }
  .body-index .search-container, .body-enlacesdeInteres .search-container, .body-educTecnica .search-container, .acercaDe-Body .search-container, .body-educacionI .search-container, .body-contacto .search-container, .body-marketing .search-container, .body-operaciones .search-container, .body-informatica .search-container, .body-educacionII .search-container {
    float: right;
    text-decoration: none;
  }
  .body-index .titulo, .body-enlacesdeInteres .titulo, .body-educTecnica .titulo, .acercaDe-Body .titulo, .body-educacionI .titulo, .body-contacto .titulo, .body-marketing .titulo, .body-operaciones .titulo, .body-informatica .titulo, .body-educacionII .titulo {
    margin-top: 50px;
    color: blue;
    font-family: "Times New Roman";
    font-size: 50px;
    text-decoration: underline;
    text-decoration-style: bold;
    text-align: center;
    transition: infinite;
    transition: all 0.7s;
  }
  .body-index .titulo:hover, .body-enlacesdeInteres .titulo:hover, .body-educTecnica .titulo:hover, .acercaDe-Body .titulo:hover, .body-educacionI .titulo:hover, .body-contacto .titulo:hover, .body-marketing .titulo:hover, .body-operaciones .titulo:hover, .body-informatica .titulo:hover, .body-educacionII .titulo:hover {
    font-family: "Pacifico";
    color: red;
    font-size: 60px;
  }
  .body-index .texto, .body-enlacesdeInteres .texto, .body-educTecnica .texto, .acercaDe-Body .texto, .body-educacionI .texto, .body-contacto .texto, .body-marketing .texto, .body-operaciones .texto, .body-informatica .texto, .body-educacionII .texto {
    padding: 20px 20px;
    margin-top: 40px;
    font-size: 20px;
    font-family: "Times New Roman";
    text-align: justify;
  }
  .body-index .titulo2, .body-enlacesdeInteres .titulo2, .body-educTecnica .titulo2, .acercaDe-Body .titulo2, .body-educacionI .titulo2, .body-contacto .titulo2, .body-marketing .titulo2, .body-operaciones .titulo2, .body-informatica .titulo2, .body-educacionII .titulo2 {
    font-size: 60px;
    margin-top: 20px;
    font-family: "Times New Roman";
    text-align: center;
    text-decoration: underline;
    color: blue;
  }
  .body-index .titulo2:hover, .body-enlacesdeInteres .titulo2:hover, .body-educTecnica .titulo2:hover, .acercaDe-Body .titulo2:hover, .body-educacionI .titulo2:hover, .body-contacto .titulo2:hover, .body-marketing .titulo2:hover, .body-operaciones .titulo2:hover, .body-informatica .titulo2:hover, .body-educacionII .titulo2:hover {
    color: red;
    font-family: "Pacifico";
  }
  .body-index .contenedor1, .body-enlacesdeInteres .contenedor1, .body-educTecnica .contenedor1, .acercaDe-Body .contenedor1, .body-educacionI .contenedor1, .body-contacto .contenedor1, .body-marketing .contenedor1, .body-operaciones .contenedor1, .body-informatica .contenedor1, .body-educacionII .contenedor1 {
    display: block;
    justify-content: center;
    padding: 60px 60px;
    justify-content: center;
    text-align: center;
  }
  .body-index .pages, .body-enlacesdeInteres .pages, .body-educTecnica .pages, .acercaDe-Body .pages, .body-educacionI .pages, .body-contacto .pages, .body-marketing .pages, .body-operaciones .pages, .body-informatica .pages, .body-educacionII .pages {
    width: 250px;
    height: 150px;
    justify-content: center;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    animation-name: aparecer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .body-index .datosCreacion, .body-enlacesdeInteres .datosCreacion, .body-educTecnica .datosCreacion, .acercaDe-Body .datosCreacion, .body-educacionI .datosCreacion, .body-contacto .datosCreacion, .body-marketing .datosCreacion, .body-operaciones .datosCreacion, .body-informatica .datosCreacion, .body-educacionII .datosCreacion {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
  }
  .body-index .logoFinal, .body-enlacesdeInteres .logoFinal, .body-educTecnica .logoFinal, .acercaDe-Body .logoFinal, .body-educacionI .logoFinal, .body-contacto .logoFinal, .body-marketing .logoFinal, .body-operaciones .logoFinal, .body-informatica .logoFinal, .body-educacionII .logoFinal {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
  }
  .body-index .contenedor2, .body-enlacesdeInteres .contenedor2, .body-educTecnica .contenedor2, .acercaDe-Body .contenedor2, .body-educacionI .contenedor2, .body-contacto .contenedor2, .body-marketing .contenedor2, .body-operaciones .contenedor2, .body-informatica .contenedor2, .body-educacionII .contenedor2 {
    display: block;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
  }
}

.acercaDe-Body .volver, .body-educacionI .volver, .body-enlacesdeInteres .volver, .body-educTecnica .volver, .body-contacto .volver, .body-marketing .volver, .body-operaciones .volver, .body-informatica .volver, .body-educacionII .volver {
  margin-right: 100px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  background-color: grey;
  border-style: dashed;
  animation-name: aparecer;
  color: red;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
.acercaDe-Body .enlace-index, .body-educacionI .enlace-index, .body-enlacesdeInteres .enlace-index, .body-educTecnica .enlace-index, .body-contacto .enlace-index, .body-marketing .enlace-index, .body-operaciones .enlace-index, .body-informatica .enlace-index, .body-educacionII .enlace-index {
  margin-top: 100px;
  font-size: 60px;
  margin-right: 150px;
  text-decoration: none;
}
.acercaDe-Body .enlace-index:hover, .body-educacionI .enlace-index:hover, .body-enlacesdeInteres .enlace-index:hover, .body-educTecnica .enlace-index:hover, .body-contacto .enlace-index:hover, .body-marketing .enlace-index:hover, .body-operaciones .enlace-index:hover, .body-informatica .enlace-index:hover, .body-educacionII .enlace-index:hover {
  margin-top: 60px;
  justify-content: center;
  font-size: 60px;
  font-family: "Sacramento";
  color: red;
  text-decoration: bold italic;
}

.body-educacionI .texto1, .body-enlacesdeInteres .texto1, .body-educTecnica .texto1, .body-contacto .texto1, .body-marketing .texto1, .body-operaciones .texto1, .body-informatica .texto1, .body-educacionII .texto1 {
  font-size: 40px;
  padding: 25px 25px;
  font-family: "Times New Roman";
  text-align: justify;
}
.body-educacionI .classRoom, .body-enlacesdeInteres .classRoom, .body-educTecnica .classRoom, .body-contacto .classRoom, .body-marketing .classRoom, .body-operaciones .classRoom, .body-informatica .classRoom, .body-educacionII .classRoom {
  font-size: 40px;
  padding: 25px 25px;
  font-family: "Times New Roman";
  text-align: justify;
  text-decoration: none;
}
.body-educacionI .classRoom:hover, .body-enlacesdeInteres .classRoom:hover, .body-educTecnica .classRoom:hover, .body-contacto .classRoom:hover, .body-marketing .classRoom:hover, .body-operaciones .classRoom:hover, .body-informatica .classRoom:hover, .body-educacionII .classRoom:hover {
  color: red;
  font-family: "Roboto";
}

.body-contacto .contenedor4 {
  width: 400px;
  text-align: center;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Roboto";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.body-contacto .volver {
  margin-right: 100px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  background-color: grey;
  border-style: dashed;
  animation-name: aparecer;
  color: red;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
.body-contacto .imagenes2 {
  margin-top: 35px;
  width: 80px;
  height: 80px;
  justify-content: center;
  text-align: center;
}
.body-contacto .redes {
  padding: 25px 25px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Times New Roman";
  text-align: justify;
  text-align: center;
}

.body-enlacesdeInteres .pagina1 {
  font-size: 60px;
  color: black;
  padding: 25px 25px;
  font-family: "Times New Roman";
  text-align: center;
  text-decoration: none;
}
.body-enlacesdeInteres .contenedor5 {
  justify-content: center;
  text-align: center;
}
.body-enlacesdeInteres .texto5 {
  font-size: 50px;
  color: black;
  padding: 25px 25px;
  font-family: "Times New Roman";
  text-align: center;
}
.body-enlacesdeInteres .imagen3 {
  width: 250px;
  height: 150px;
  border: black 10px;
  border-style: double;
  text-align: center;
  justify-content: center;
  animation-name: aparecer;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}
.body-enlacesdeInteres .volver {
  margin-right: 30px;
  margin-right: 100px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  background-color: grey;
  border-style: dashed;
  animation-name: aparecer;
  color: red;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=Style.css.map */
