@import "variables.scss";
@import "mixin.scss";

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 2;
    }

    50% {
        opacity: 4;
    }

    75% {
        opacity: 5;
    }

    100% {
        opacity: 6;
    }
}


.body-index {
    background: $color4;

    //header del index//
    .navbar {
        @include navbar (20px);

    }

    .navbar-ul-li {
        float: $float1;
        text-decoration: $Dec4;
    }

    .nav-imagen {
        @include imagenLogo(80px);

    }

    .search-button {
        margin-right: $Size3;
    }

    .nav-enlaces {
        @include enlaces (inline-flex);

        &:hover {
            @include enlaces-hover (grey);
        }
    }

    .search-container {
        float: $float2;
        text-decoration: $Dec4;
    }

    .titulo {
        @include titulo(80px);

        &:hover {
            font-family: $font2;
            color: $color1;
            font-size: $Size19;
        }
    }

    .texto {
        @include texto(25px);
    }

    .titulo2 {
        @include educacionI-otros(80px);

        &:hover {
            color: $color1;
            font-family: $font2;
        }
    }

    .contenedor1 {
        @include contenedor1 (block);
    }

    .pages {
        @include enlacesClassRoom(250px);
        animation-name: aparecer;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    .datosCreacion {
        @include datos(20px);
    }

    .logoFinal {
        @include logoFinal(100px);
    }

    .contenedor2 {
        @include contenedor2 (block);
    }

    @media screen and (max-width: 600px) {
        .body-index {
            background: $color1;
        }

        .titulo {
            @include tituloMediaQuerie1(40px);
        }

        .navbar {
            @include navBarMediaQuerie1($Size5);        }

            .nav-enlaces {
                @include enlacesMediaQuerie1(inline-flex);
        
                &:hover {
                    @include enlaces-hover (grey);
                }
            }
        .navbar-ul-li {
            float: $float1;
            text-decoration: $Dec4;
        }

        .nav-imagen {
            @include nav-imageMediaQuerie1($Size3);

        }

        .search-button {
            margin-right: $Size5;
        }

        .nav-enlaces {
           @include nav-enlacesMediaQuerie1(inline-flex);

            &:hover {
                @include enlaces-hover (white);
            }
        }
        .search-container {
            float: $float2;
            text-decoration: $Dec4;
        }
    
        .titulo {
            @include titulo(50px);
    
            &:hover {
                font-family: $font2;
                color: $color1;
                font-size: $Size16;
            }
        }
    
        .texto {
            @include texto(20px);
        }
    
        .titulo2 {
            @include educacionI-otrosMediaQuerie1(60px);
    
            &:hover {
                color: $color1;
                font-family: $font2;
            }
        }
    
        .contenedor1 {
            @include contenedor1 (block);
        }
    
        .pages {
            @include enlacesClassRoom(250px);
            animation-name: aparecer;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    
        .datosCreacion {
            @include datos(20px);
        }
    
        .logoFinal {
            @include logoFinal(100px);
        }
    
        .contenedor2 {
            @include contenedor2 (block);
        }
    
    }
}

.acercaDe-Body {
    @extend .body-index;

    .volver {
        @include flecha1(100px);
        @include transicion1(5px);
    }

    .enlace-index {
        @include index(100px);

        &:hover {
            @include enlace-index(60px);
        }
    }

}

.body-educacionI {
    @extend .acercaDe-Body;

    .texto1 {
        @include texto1(40px);
    }

    .classRoom {
        @include texto1(40px);
        text-decoration: $Dec4;

        &:hover {
            color: $color1;
            font-family: $font3;
        }
    }
}

.body-educacionII {
    @extend .body-educacionI;



}

.body-informatica {
    @extend .body-educacionI;

}

.body-operaciones {
    @extend .body-educacionI;

}

.body-marketing {
    @extend .body-educacionI;

}


.body-contacto {
    @extend .body-educacionI;


    .contenedor4 {
        @include contenedor4(400px);
    }

    .volver {
        @include flecha1(100px);
        @include transicion1(5px);
    }

    .imagenes2 {
        @include imagenesContacto(35px);
    }

    .redes {
        @include texto(25px);
        text-align: center;
    }
}

.body-educTecnica {
    @extend .body-index;
    @extend .body-educacionI;
}

.body-enlacesdeInteres {
    @extend .body-index;
    @extend .body-educacionI;

    .pagina1 {
        @include texto3(60px);
        text-decoration: $Dec4;
    }

    .contenedor5 {
        @include contenedor5 (center);
    }

    .texto5 {
        @include texto3(50px);

    }

    .imagen3 {
        @include imagen3(250px);

    }

    .volver {
        margin-right: $Size29;
        @include flecha1(100px);
        @include transicion1(5px);
    }
}